@import url(http://fonts.googleapis.com/css?family=Open+Sans:600,800);
@import url(http://fonts.googleapis.com/css?family=Gentium+Book+Basic);

body {
    color: rgba(34,34,34,1);
    background-color: rgba(255,255,255,1);
    font-family: 'Gentium Book Basic', serif;
    font-size: 18px;
    line-height: 1.5em;
}

p {
    font-size: 1em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

h1 {
    font-size: 1.5em;
    line-height: 1em;
    margin-top: 0;
    margin-bottom: 1em;
}

h2 {
    font-size: 1.333em;
    line-height: 1.125em;
    margin-top: 1.125em;
    margin-bottom: 1.125em;
}

h3 {
    font-size: 1.22222em;
    line-height: 1.272em;
    margin-top: 1.272em;
    margin-bottom: 1.272em;
}

h4 {
    font-size: 1em;
    line-height: 1.5em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

h5 {
    font-size: 0.888em;
    line-height: 1.6875em;
    margin-top: 1.6875em;
    margin-bottom: 1.6875em;
}

h6 {
    font-size: 0.7777em;
    line-height: 1.92857em;
    margin-top: 1.92857em;
    margin-bottom: 0;
}

hr {
    width: 80%;
    border-top: 0.2em solid rgba(68,68,68,1);
    style: none;
    text-decoration: none;
}

header {
    background-color: rgba(255,102,0,1);
    font-size: 2em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    line-height: 1.5em;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    margin-bottom: 0.75em;
    margin-top: 0;
    padding-top: 1.5em;
    padding-bottom: 0.75em;
}

.column {
	width: 620px;
	margin: auto;
}

nav {
    font-size: 0.5em;
    font-family: 'Open Sans', sans-serif;
    width: 620px;
    line-height: 1.5em;
    margin: 1.5em auto 0 auto;
}

article {
    width: 620px;
    margin: auto;
}

footer {
    background-color: rgba(34,34,34,1);
    color: rgba(255,255,255,1);
    font-size: 0.75em;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    padding-top: 3em;
    padding-bottom: 1em;
    width: 100%;
}

#copy {
    clear:both;
    margin-top: 1.5em;
}

.post {
    margin-top: 3em;
    margin-bottom: 6em;
}

.post > h1 {
    text-align: center;
    margin-bottom: 0;
}

.post > .post-title > h1 {
    text-align: center;
    margin-bottom: 0;
}

.date {
    color: rgba(34,34,34,0.6);
    text-align: center;
    margin-top: 0.75em;
    margin-bottom: 2.25em;
}

a {
    color: rgba(64,64,64,1);
}


p > a {
    color: rgba(255,102,0,1);
}

nav > a {
    color: rgba(255,255,255,1);
}


footer > a {
    color: rgba(255,102,0,1);
}

#archives > a {
    color: rgba(255,255,255,1);
}

a:hover {
    color: rgba(255,102,0,1);
}

p > a:hover {
    color: rgba(68, 68, 68,1);
}

nav > a:hover {
    color: rgba(34,34,34,1);
}

#archives > a:hover {
    color: rgba(255,102,0,1);
}


blockquote {
    color: rgba(34,34,34,0.8);
    padding-left: 0.5em;
    border-left: 0.2em solid rgba(34,34,34,0.6);
}

.month > h1 {
    font-size: 2em;
    line-height: 1.5em;
    margin-top: 0;
    margin-bottom: 0.75em;
    text-align: center;
}

.orange {
    color: rgba(255,102,0,1);
}
